<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="">
    {%- if page.type_name() == "FrontPage" %}
    <meta name="description" content="{{ options.description }}">
    <meta name="author" content="{{ options.author }}">
    <meta name="keywords" content="{{ options.keywords }}">
    {%- endif %}
    {%- if page.type_name() != "FrontPage" %}
    <title>{{ options.name }}: {{ page.title }}</title>
    {%- else %}
    <title>{{ options.name }}</title>
    {%- endif %}
    <link rel="icon" href="{{ options.url }}/static/favicon.ico">
    <link rel="stylesheet" href="{{ options.url }}/static/styles.css">
    <link rel="stylesheet" href="{{ options.url }}/static/highlight.css">
</head>

<body>
    <header>
        <h1 class="site-title">{{ options.title }}</h1>
    </header>

    <nav style="color: #666;">
{%- if page.type_name() == "FrontPage" %}
        <ul>
            <li><a class="nav-home" href="{{ options.url }}">Home</a></li>
    {%- for n in navs %}
        {%- if n.type_name != "FrontPage" %}
            <li><a class="nav-link" href="{{ options.url }}/{{ n.name }}/">{{ n.title }}</a></li>
        {%- endif %}
    {%- endfor %}
        </ul>
{%- else %}
    {%- if page.type_name() == "PostPage" %}
        <a href="{{ options.url }}/{{ page.parent.name }}/">&#8604; Return to {{page.parent.title }}</a>
    {%- else %}
        <a href="{{ options.url }}/">&#8604; Return to Home</a>
    {%- endif %}
{%- endif %}
    </nav>

    <main>
{%- if page.type_name() != "FrontPage" %}
        <div class="page-title">
            <h2 class="post-title">{{ page.title }}</h2>
    {%- if page.type_name() == "PostPage" %}
            <p class="post-meta">{{ page.date }} &middot; {{ page.subtitle }}</p>
    {%- endif %}
        </div>
{%- endif %}
{%- block content %}
{{ page.content }}
{%- endblock %}
    </main>

    <footer>
        &copy; {{ options.author }} - <a href="https://github.com/nerdroychan/frontpage/" target="_blank">Source Code</a>
    </footer>
</body>

</html>
